{% include 'components/top.html' %}

<div id="particles-js"></div>
<script src="/static/js/ext/particles.min.js"></script>
<script src="/static/js/particles.js"></script>

<header>
    <h2>Exchange Crypto for Gift Cards</h2>
    <p>
        CryptoForMe is a service that allows you to exchange your crypto for gift cards.
        We focus on privacy and security, and transparency. Thus, this project is open source.
    </p>

    <div class="buttons">
        <a href="/#get-started">
            <button tabindex="-1">Get started</button>
        </a>
        <a href="/#faq">
            <button class="secondary" tabindex="-1">Learn more</button>
        </a>
    </div>
</header>
<main>
    <h1>Coming soon</h1>
    <h2>stay hyped.</h2>
</main>

{% include 'components/end.html' %}