<footer>
    <div class="rows">
        <div class="row">
            <h2>About</h2>
            <a href="/#faq">FAQ</a>
            <a href="https://github.com/crypto-for-me/web/blob/main/LICENSE" target="_blank">License</a>
            <a href="mailto:team@crypto-for.me">Contact</a>
            <a href="https://github.com/crypto-for-me/web/graphs/contributors?type=a" target="_blank">Contributors</a>
        </div>
        <div class="row">
            <h2>Links</h2>
            <a href="https://github.com/crypto-for-me/" target="_blank">GitHub</a>
            <a href="https://www.reddit.com/r/CryptoForMe" target="_blank">Reddit</a>
            <a href="https://t.me/c4m_official" target="_blank">Telegram</a>
        </div>
    </div>
    <p>&copy; 2023. All rights reserved.</p>
</footer>