<footer>
    <div class="rows">
        <div class="row">
            <h2>Get started</h2>
            <a href="/gift-card-to-btc">Gift card to Bitcoin</a>
            <a href="/gift-card-to-xmr">Gift card to Monero</a>
            <a href="/gift-card-to-eth">Gift card to Ethereum</a>
            <a href="/gift-card-to-bch">Gift card to Bitcoin Cash</a>
        </div>
        <div class="row">
            <h2>About</h2>
            <a href="/#faq">FAQ</a>
            <a href="mailto:team@crypto-for.me">Contact</a>
            <a href="https://github.com/crypto-for-me/web/blob/main/CREDITS.md" target="_blank">Credits</a>
            <a href="https://github.com/crypto-for-me/web/graphs/contributors?type=a" target="_blank">Contributors</a>
        </div>
        <div class="row">
            <h2>Social Media</h2>
            <a href="https://github.com/crypto-for-me/" target="_blank">GitHub</a>
            <a href="https://www.reddit.com/r/CryptoForMe" target="_blank">Reddit</a>
            <a href="https://t.me/c4m_official" target="_blank">Telegram</a>
        </div>
        <div class="row">
            <h2>Legal</h2>
            <a href="/imprint">Imprint</a>
            <a href="/terms">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="https://github.com/crypto-for-me/web/blob/main/LICENSE" target="_blank">License</a>
        </div>
    </div>
    <p>
        &copy; 2023. All rights reserved.
        <a target="_blank" href="http://63i3opsqnovub44mailo5eo6e2fijdslkpzraywd2adxb5vzuvfl42ad.onion">
            Open .onion
        </a>
    </p>
</footer>