<nav>
    <img alt="CryptoForMe Logo" aria-label="CryptoForMe Logo" class="logo" src="/static/img/favicon-light.png">
    <h1>CryptoForMe
        <mark>alpha</mark>
    </h1>

    <!-- Separator -->
    <span></span>
    
    <div id="links" class="link-menu">
        <noscript>
            <style>
                #noJSMenu {display: none}
                
                @media (max-width: 400px) {
                    #noJSMenu {display: block !important}
                    #menu {display: none !important}
                }
            </style>
    
            <details id="noJSMenu">
                <summary>Menu</summary>
                <div class="link-menu">
                    <a href="/">Home</a>
                    <a href="/#why">Why</a>
                    <a href="mailto:{{ company.email }}">Contact</a>
                </div>
            </details>
        </noscript>
        <a href="/">Home</a>
        <a href="/#why">Why</a>
        <a href="mailto:{{ company.email }}">Contact</a>
    </div>

    <svg alt="Mobile menu" id="menu" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
     </svg>
</nav>