@import '_vars'

header
    max-width: $more-width
    margin: 0 auto
    padding-block: 4rem

    text-align: center

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    h1
        max-width: 1000px
        font-size: 64px
        font-weight: 800
        margin: 2rem
        line-height: 1.1

    p
        max-width: 800px
        opacity: 0.8
        font-size: 1.2rem
        font-weight: 300
        margin-bottom: 1rem

    div.buttons
        display: flex
        gap: 1rem
        margin: 1rem 0

div.fields
    display: flex
    flex: 1 1 0px
    gap: 4rem

    section.field
        flex: 1
        flex-basis: 0

        svg
            display: inline
            stroke: $accent
            transform: translateX(-0.2rem) translateY(0.7rem)

        h3
            text-align: center
            display: inline
            font-size: 20px
            margin: 0

        p
            opacity: 0.9

@media (max-width: 800px)
    div.fields
        display: block

    header
        h2
            font-size: 46px

@media (max-width: 400px)
    header
        div.buttons
            flex-direction: column
            gap: 0.5rem
