@import '_vars'

nav
    display: flex
    align-items: center

    >.logo
        stroke: $accent
        min-height: 48px
        min-width: 48px
        height: 48px
        width: 48px

        margin-right: 8px
        cursor: pointer
        transition: stroke 0.2s

    >h1
        font-weight: 500
        font-size: 24px
        user-select: none
        cursor: pointer

        mark
            font-size: 1rem
            position: relative
            top: -3px


    >span
        flex-grow: 1

    #links

        >a
            margin-left: 2rem
            text-decoration: none
            transition: color 0.2s

            &:hover
                color: $accent

    #menu
        display: none
        cursor: pointer

@media (max-width: 800px)
    nav
        .logo
            stroke: $fg

        h1
            // display: none

        #links
            transform: scale(0.8) translateX(1rem)
            opacity: 0

            z-index: 100
            width: 200px
            position: absolute
            top: 5rem
            right: 2rem
            background: $popup
            padding: 1rem 0
            border-radius: $edge
            backdrop-filter: blur(4px)
            border: 1px solid $boder

            transition: transform 0.2s, opacity 0.2s

            &.open
                opacity: 1
                transform: inherit

            a
                font-size: 20px
                display: block
                line-height: 3rem

        #menu
            display: block
            min-height: 32px
            min-width: 32px
            height: 32px
            width: 32px
            cursor: pointer
            transition: 0.5s

            &.active
                transform: rotate(90deg)
