{% include 'components/top.html' %}

<main>
    <h1>Privacy</h1>
    <p>
        Your privacy and security is not just a human right, but our biggest concern.
        Thus, we provide you some information about how you can avoid tracking.
    <p>

    <h2>How to protect your privacy when using our services</h2>
    <h3>Use the <a href="https://noscript.net/" target="_blank">NoScript browser extension</a></h3>
    <p>
        While we do not use any tracking scripts and try to the files everything ourselves instead of using a CDN,
        it is still possible that external scripts with tracking capabilities are loaded.
        Moreover, in case of a XSS security breach, it is possible that an attacker injects malicious scripts.
        The drawbacks of using NoScript are that some features may not work and that you have to manually allow certain scripts etc.
    </p>

    <h3>Clearing your history and cookies</h3>
    <p>
        We only use cookies to provide functionality, e.g. to store your session token, so you do not have to log in every time you visit our website.
        But malware could attack your browser and steal your cookies, which is why you should clear your cookies regularly.
        Additionally, malware could decrypt and read your browser password database, which is why you should use a secure password manager instead.
        We recommend <a href="https://keepass.info/" target="_blank">KeePass</a> and <a href="https://bitwarden.com/" target="_blank">Bitwarden</a>.  
        You can use the built-in incognito mode of your browser or clear your history and cookies manually.
        Additionally, you can use a browser extension like
        <a href="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete" target="_blank">Cookie AutoDelete</a>
        to automatically delete cookies.
    </p>

    <h3>Other attack vectors (browser, OS, ...)</h3>
    <p>
        There are a lot of other different ways your privacy could be compromised, but we cannot list them all here.
        You can find more information about how to protect your privacy on the following websites:
        <ul>
            <li>
                <a href="https://www.privacyguides.org/en/" target="_blank">PrivacyGuides</a>
            </li>
            <li>
                <a href="https://techlore.tech/goincognito" target="_blank">Techlore's GoIncognito course</a>
            </li>
            <li>
                <a href="https://thenewoil.org/" target="_blank">TheNewOil</a>
            </li>
        </ul>
    </p>

    <h2>Data we collect</h2>
    <ul>
        <li>
            We do not collect any data at the moment.
        </li>
    </ul>
</main>

{% include 'components/end.html' %}