{% include 'components/top.html' %}

<main>
    <h1>Terms of Service</h1>
    <p>
        Please contact us if you have any questions regarding our Terms of Service.
    </p>

    <h2>Definitions</h2>
    <ul>
        <li>We = the operators of this service, as specified in <a href="/imprint" target="_blank">the imprint</a>.</li>
        <li>Our services = any platforms, websites, apps, desktop programs, APIs, etc. that we operate.</li>
    </ul>

    <h2>Our ethics</h2>
    <p>
        Of course, we can't influence the law, but we think that just because something is legal, it doesn't mean it's ethical.
        Same goes the other way around. For this reason, we have a set of ethics that we follow. Please keep in mind that <b>we (and you!)
        obviously still have to follow the law</b> and that <b>our ethics are not legally binding</b>.
    </p>
    <p>
        To provide better transparency, we have a list of things that are not allowed on any of our platforms or services.
    </p>

    <h3>Not allowed</h3>
    <ol>
        <li>Anything violating the UN constitution of human rights</li>
        <li>Endorsement, depiction <sup>1</sup> or using our service(s) to perform any kind of violence - including:
            <ol>
                <li>Terrorism <sup>1</sup></li>
                <li>Organized crime <sup>1</sup></li>
                <li>Animal abuse <sup>1</sup></li>
                <li>Verbal violence (hate speech) <sup>1</sup></li>
                <li>Sexual violence (non-consensual sex)</li>
                <li>Self-harm and suicide</li>
                ...
            </ol>
        <li>Endorsement, usage of our service(s) to perform any kind of discrimination - including:
            <ol>
                <li>Racism</li>
                <li>Sexism</li>
                <li>Homophobia</li>
                <li>Transphobia</li>
                <li>Xenophobia</li>
                <li>Casteism</li>
                <li>Ableism</li>
                ...
            </ol>
        <li>Endorsement, depiction or using our service(s) to perform any kind of:
            <ol>
                <li>Pedophilia (this includes drawings/animated media and written fantasies!)</li>
                <li>Necrophilia</li>
                <li>Gambling</li>
                <li>Exploitation and black hat hacking</li>
            </ol>
        </li>

        <li>Spreading of harassment, agitation</li>
        <li>"Doxxing"/posting of private chats. You are not allowed to spread content others have created without their permission.</li>
        <li>Malicious links with IP/PII loggers ("grabbers") etc.</li>
        <li>(Especially intentional) spreading of fake news/fake information</li>
        <li>Automation and spam (ask first!)</li>
        <li>Commercial self-promotion (this <em>does not</em> include linking your social media profile)</li>
    </ol>

    <sup>1</sup> You <em>are</em> allowed to talk about these topics, but <em>do not</em> endorse them or depict them in any way.
    <p>It goes without saying that illegal content, is forbidden, too! Copyright is a thing, if you like it or not.</p>

    <h2>What you can expect from us</h2>
    <p>Some of the following points should be obvious, but sadly, they aren't.
    </p>
    <ol>
        <li>You get notified when we're changing our Terms of Service.</li>
        <li>We provide a history of our Terms of Service.</li>
        <li>Your account won't be deleted without a clear reason.</li>
        <li>We won't ever sell your personal data to advertisers.</li>
        <li>
            When asked, we will give the government as little information as possible about you,
            unless we genuinely think you have made a strong violation of our ethics.
        </li>
        <li>You maintain ownership of the content you create and upload on our platforms.</li>
        <li>We only collect logs when necessary to ensure the functionality of our service.</li>
        <li>You can delete all your data at any time.</li>
        <li>You can retrieve an archive of your data at any time.</li>
        <li>We offer a hidden service, which especially comes in handy if you live in a country with a lot of censorship.</li>
    </ol>

    <h2>What we expect from you</h2>
    <p>Please...</p>
    <ol>
        <li>Follow our ethics</li>
        <li>Follow the German law</li>
        <li>Use our APIs etc. responsibly and don't spam</li>
    </ol>

    <h2>Please note though, that...</h2>
    <ol>
        <li>
            We work with third parties to provide some of our Services.
            For example, third party providers may provide the login system.
            These providers are bound by their Privacy Policies to safeguard that information.
            If you use other third-party in connection with our services,
            their Terms of Service and Privacy Policies govern your use of those services.
        </li>
        <li>
            We collect <em>some</em> data, but only when necessary to ensure the functionality of our service.
            You can learn more on our <a href="/privacy" target="_blank">Privacy Policy</a>.
        </li>
    </ol>
</main>

{% include 'components/end.html' %}